/* Declaration of variables ##################################################*/
:root {
  --color_1: #3f6ab7;
  --color_2: #6886c7;
  --color_3: #a0b1dc;
  --color_4: #cbd2e9;
  --color_5: #f2f5ff7a;
}

/*  Tag Selectors ############################################################*/

h1, h2, h3, h4, h5, h6 {
  color: var(--color_1);
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}

body {
  overflow-x: hidden;
  margin-left: 0;
  margin-right: 0;
  background-color: white;
}

p {
  font-family: arial, sans-serif;
  font-size: 18px;
}

a {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #3282b8;
}

td {
  font-family: arial;
  font-size: 18px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: var(--color_1);
  border-width: 10px;
  height: 0;
  width: 6%;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

/* ################################ Class Selectors ##########################*/
.header_div {
  background-color: var(--color_5);
  background: linear-gradient(132deg,
                              rgba(104,134,199,0.8046568969384629) 0%,
                              rgba(160,177,220,0.6001751042213761) 21%,
                              rgba(242,245,255,0.3144608185070903) 76%,
                              rgba(255,255,255,0) 100%);
  position: absolute;
  left: 0;
  top: 0;
  height: 510px;
  width: 100%;
  margin: 0;
}

.bottom_div {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 60px;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0px;
  background: rgb(104,134,199);
  background: linear-gradient(29deg,
                              rgba(104,134,199,0.8298669809720763) 0%,
                              rgba(160,177,220,0.6113795860140931) 47%,
                              rgba(242,245,255,0.46852244315695024) 91%,
                              rgba(255,255,255,0.10437678489364499) 100%);
}

.fernando_photo {
  background: url("../assets/fernando_blue.png");
  background-repeat:no-repeat;
  background-size: 100% 100%;
  width: 210px;
  height: 210px;
  -webkit-transition: .8s ease-in-out;
  -moz-transition: .8s ease-in-out;
  -o-transition: .8s ease-in-out;
	transition: .8s ease-in-out;

}
.fernando_photo:hover {
  background: url("../assets/fernando.png");
  background-repeat:no-repeat;
  background-size: 100% 100%;
  width: 240px;
  height: 240px;
}

.bottom_button {
  background-size: 100% auto;
  background-repeat:no-repeat;
  color: rgba(255,255,255,0);
  padding-bottom: 60px;
  margin-left: 6px;
  margin-right: 6px;
}

.email {
  background-image: url("../assets/mail.png");
}

.linkedin {
  background-image: url("../assets/linkedin.png");
}

.orcid {
  background-image: url("../assets/orcid.png");
}

.centered_div {
  width: 70%;
  margin: 0 auto;
}

.center_text {
  text-align: center;
}

.data_background {
  width: 100%;
  height: 400px;
  position: absolute;
  left: -1px;
  top: 120px;
  z-index: -1;
}

.horizontal_separator_1 {
  width: 100%;
  height: 500px;
}

/* Progress bar ##############################################################*/

.progress {
 width: 30vw;
 border: 1px solid black;
 border-radius: 10px;
 position: relative;
 padding: 3px;
 margin-left: 10px;
}

.percent {
 position: absolute;
 color: #cbd2e9;
 left: 46%;
}

.bar {
 height: 20px;
 background-color: var(--color_1);
 border-radius: 10px;
}

.progress .bartext {
  visibility: hidden;
  font-family: arial;
  font-size: 20px;
  width: 30vw;
  background-color: var(--color_3);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  left: 18vw;
  z-index: 1;
  /* Fade in tooltip - takes 1 s to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.progress:hover .bartext {
  visibility: visible;
  opacity: 1;
}

/* Block Quotes ##############################################################*/
/* center the blockquote in the page */
.blockquote-wrapper {
   display: flex;
   height: 50vh;
   padding: 0 20px;
}

/* Blockquote main style */
.blockquote {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: var(--color_1);
    padding: 30px 0;
    width: 80%;
    max-width: 1000px;
    z-index: 1;
    margin: 80px auto;
    align-self: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

/* Blockquote header */
.blockquote h1 {
    position: relative;
    color: var(--color_1);
    font-size: 30px;
    font-weight: 100;
    line-height: 1;
    margin: 0;
}

/* Blockquote right double quotes */
.blockquote:after {
    position: absolute;
    content: "”";
    color: var(--color_1);
    font-size: 10rem;
    line-height: 0;
    bottom: -43px;
    right: 30px;
}

/* increase header size after 600px */
@media all and (min-width: 50px) {
    .blockquote h1 {
        font-size: 30px;
   }

}

/* Blockquote subheader */
.blockquote h4 {
    position: relative;
    color: #292a2b;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding-top: 20px;
    z-index: 1;
}

/* Timeline ##################################################################*/
.time-line-box {
  height: 100px;
  padding: 100px 0;
  width: 100%;
  background: rgb(104,134,199);
  background: linear-gradient(29deg,
                              rgba(104,134,199,0.8298669809720763) 0%,
                              rgba(160,177,220,0.6113795860140931) 47%,
                              rgba(242,245,255,0.46852244315695024) 91%,
                              rgba(255,255,255,0.10437678489364499) 100%);
  margin-left: 0;
}

.time-line-box .timeline {
  list-style-type: none;
  display: flex;
  padding: 0;
  text-align: center;
}

.time-line-box .timestamp {
  margin: auto;
  margin-bottom: 5px;
  padding: 0 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-line-box .status {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  border-top: 3px solid var(--color_1);
  position: relative;
  transition: all 200ms ease-in;
}
.time-line-box .status span {
  padding-top: 8px;
}
.time-line-box .status span:before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: var(--color_1);
  border-radius: 12px;
  border: 2px solid var(--color_1);
  position: absolute;
  left: 50%;
  top: 0%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 200ms ease-in;
}

.swiper-container {
  width: 95%;
  margin: auto;
  overflow-y: auto;
}
.swiper-wrapper{
  display: inline-flex;
  flex-direction: row;
  overflow-y:auto;
  justify-content: center;
}
.swiper-container::-webkit-scrollbar-track{
   background:#a8a8a8b6;
}
.swiper-container::-webkit-scrollbar{
  height: 6px;
}
.swiper-container::-webkit-scrollbar-thumb{
   background: #4F4F4F;
}
.swiper-slide {
  text-align: center;
  font-family: arial;
  font-size: 14px;
  width: 200px;
  height: 100%;
  position: relative;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.swiper-slide:hover {
  font-size: 20px;
  font-family: arial;
  border: solid;
  border-color: var(--color_5);
  border-radius: 20px;
  border-width: 0.1px;
  margin: 12px;
  -webkit-box-shadow: 4px 10px 6px 1px rgba(104,134,199,0.26);
  -moz-box-shadow: 4px 10px 6px 1px rgba(104,134,199,0.26);
  box-shadow: 4px 10px 6px 1px rgba(104,134,199,0.26);
}
